/* MODO DARK */

body.dark-mode {
    background-color: #031b07;
    color: #fffff4;
}

 footer.dark-mode, .socials.dark-mode {
    color: #fffff4;
}

header.dark-mode{
    background: linear-gradient(to bottom, #044C33, #115841, #216953, #031b07);
}

input.dark-mode {
    background-color: #dfdfdf;
    color: #0c0c0c;
    border: 1px solid #444;
    border-radius: 8px;
}

.container.dark-mode{
    background-color: #131313;
    color: #0c0c0c;
    border: 1px solid #444;
}


body.dark-mode .total-amount-container, 
body.dark-mode .user-amount-container {
    background-color: #2E2E2E; 
    border-radius: 5px;   
    color: #E0E0E0;         
    box-shadow: 0 0.6em 1.2em rgb(255 255 255 / 6%);

}

body.dark-mode .list, 
body.dark-mode .orientations,
body.dark-mode .planodeacao{
    background-color: #2E2E2E;
    color: #E0E0E0;
    box-shadow: 0 0.6em 1.2em rgb(255 255 255 / 6%);
}

body.dark-mode .wrapper h3{
    color: #efefef;
}

body.dark-mode footer .socials{
    color: #dfdfdf;
}

body.dark-mode .planodeacao .pln{
    color: #e2e2e298;
}
body.dark-mode .planodeacao p, .orientations p, .product, .amount {
    color: #e2e2e2;
}

body.dark-mode .amount{
    color:#e2e2e2 ;
}
body.dark-mode .product{
    color:#e2e2e2 ;
}
body.dark-mode .orientations p{
    color:#e2e2e2 ;
}

body.dark-mode .sublist-content{
    border-left: 0.3em solid #04bb7e;
}


body.dark-mode .delete{
    color: rgb(255, 67, 67);
}
body.dark-mode .edit{
    color: rgba(172, 255, 47, 0.836);
}
.scroll-top.dark-mode{
    background-color: #115841;
    border: none;
}

#toggle-calculator.show.dark-mode{
    background-color: rgb(235, 160, 21);
}

body.dark-mode .skills .skill-items .item h4, .portfolio .portfo-items .item .info h4{
    color: #2a2a2a;
}

body.dark-mode .skills .skill-items .item{
    background-color: #deebeeef;
}

body.dark-mode footer .socials i{
    color: #fffff4;
}

body.dark-mode .skills .skill-items .item:hover{
    border-color: #4CAF50;
}

body.dark-mode footer .socials i:hover{
    color: #309f5b;
}
body.dark-mode .output-container{
    background-color: #3e8d55;
}

body.dark-mode .skills .skill-items .item .icon{
    background-color: rgb(250, 250, 233);
}

/* ESTILIZAÇÃO DO BOTÃO DARK */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    z-index: 1000; /* Garante que o botão fique sobre os outros elementos */
}


.dark-mode-toggle.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

body.dark-mode .dark-mode-toggle {
    background-color: #deebeeef;
    color: #4a4a4a;
}

.dark-mode-toggle .fa-sun {
    display: none;
    color: #0e0e0e;
}

body.dark-mode .dark-mode-toggle .fa-moon {
    display: none;
}

body.dark-mode .dark-mode-toggle .fa-sun {
    display: block;
}



/* Benefícios do AI₿ */

body.dark-mode #aib-benefits{
    background-color: #104a27e1;  
    box-shadow:0 0.6em 1.2em rgba(255, 255, 255, 0.027);
}

body.dark-mode .card-header h2{
    color: #fffff4;
}
body.dark-mode .card-body p{
    color: #fffff4;
}

body.dark-mode .card-body p strong {
    color: #4CAF50;
}

body.dark-mode .toggle-button{
    font-size: 1.5rem;
    color: #4CAF50;
}

body.dark-mode .card-footer p{
    color: #e2e2e2ab;
}


/* Relatórios de economia */


body.dark-mode .report-section{
    background: #141f15;
}

body.dark-mode #balanceVariation{
    border-radius: 18px;
    border: none;
    background-color: #03110ab8;
}

body.dark-mode .report-section h3{
    color: #f4f5f7;
}
body.dark-mode .report-section p{
    color: #999999;
}